body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
  color: #ffffcc; /* Light yellow color */
  animation: changeColor 4s linear infinite alternate;
}

@keyframes changeColor {
  0% {
    color: #ffe900; /* Light yellow color */
  }
  66% {
    color: #ffd700; /* Deeper yellow color */
  }
  100% {
    color: #ffe900;
  }
}

main {
  padding: 20px;
}

footer {
  background-color: #000;
  color: #ffd700; /* Gold color */
  text-align: center;
  padding: 10px;
}

.animated-section {
  height: 2000px; /* Increase the height for scrolling */
  position: relative;
}

.shape:nth-child(2n) {
  background-color: #000; /* Black color */
}

.shape:nth-child(3n) {
  background-color: #000; /* Black color */
}
