body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  color: #ffd700; /* Initial gold color */
  padding: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #000;
  color: #ffd700; /* Initial gold color */
  text-align: center;
  padding: 10px;
}

.animated-section {
  height: 2000px; /* Increase the height for scrolling */
  position: relative;
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffd700; /* Initial gold color */
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  animation: colorChange 5s infinite alternate; /* Animation for color change */
}

.shape:nth-child(2n) {
  background-color: #000; /* Black color */
}

.shape:nth-child(3n) {
  background-color: #000; /* Black color */
}

@keyframes colorChange {
  0% {
    background-color: #ffd700; /* Initial gold color */
  }
  50% {
    background-color: #ff9900; /* Intermediate color */
  }
  100% {
    background-color: #ffd700; /* Final gold color */
  }
}
