body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  min-height: 100vh; /* Ensure the body covers the full viewport height */
  position: relative; /* Set position to relative for footer positioning */
  color: #fff; /* Set text color to white */
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #222;
  color: #ffd700;
  text-align: center;
  padding: 10px;
  position: absolute; /* Set the footer to absolute positioning */
  bottom: 0; /* Position the footer at the bottom of the viewport */
  width: 100%; /* Ensure the footer spans the entire width */
}

section {
  margin-bottom: 20px; /* Add margin below each section for spacing */
}

h1 {
  font-size: 36px;
  margin: 0;
  color: #ffffcc; /* Light yellow color */
  animation: changeColor 4s linear infinite alternate;
}

@keyframes changeColor {
  0% {
    color: #fff01c; /* Light yellow color */
  }
  66% {
    color: #ffd700; /* Deeper yellow color */
  }
  100% {
    color: #fff01c;
  }
}
.animated-section {
  height: 2000px; /* Increase the height for scrolling */
  position: relative;
}

.shape:nth-child(2n) {
  background-color: #000; /* Black color */
}

.shape:nth-child(3n) {
  background-color: #000; /* Black color */
}
